{% extends 'landing/base.html' %}

{% block content %}
<div class="container mb-5 pb-5">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'profile' profile.pk %}" class="button-33">Back to Profile!</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <p class="heading-font">Followers for @{{ profile.username }}</p>
        </div>        
    </div>
    
    
    <div class="card shadow text-center py-5" style="width: 25%; margin: 0 auto;">
        {% for follower in followers %}
            <div class="row justify-content-center mb-5">
                <div class="col-md-5 col-sm-12">
                    <a href="{% url 'profile' follower.profile.pk %}"><img class="dp-mini" src="{{follower.profile.picture.url}}" height="80" width="80"></a>
                    <a href="{% url 'profile' follower.profile.pk %}"><span class="user-name fs-b">@{{follower.username}}</span></a>
                </div>        
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}