{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="gradbg">
    <div class="row pt-5">
        <div class="col-md-5 col-sm-12">
            <a href="{% url 'profile' object.pk %}" class="button-33">Back to Profile!</a>
            <!-- <a href="{% url 'post_list' %}" class="btn btn-dark btn-sm">Back to Feed!</a> -->
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12 heading-font">
            <h5 class="text-light fs-2 mb-4">Update your Profile!</h5>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class=" card shadow rounded pop-up-no-hover col-md-5 col-sm-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-sm btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}