{% extends 'landing/base.html' %}

{% block content %}
<div class="container">

    <div class="row justify-content-center mt-5 pb-5">
        <div class="card shadow rounded col-md-8 col-sm-12 profile-detail d-flex flex-row">

            <div class="p-2">
                <div>
                    <img src="{{ profile.picture.url }}" alt="NO DP" class="dp" height="100" width="100" />
                    {% if profile.name %}    
                        <!-- <div class="name-container">
                            <div class="profile-full-name">{{ profile.name }}</div>
                            <a href="{% url 'profile' profile.pk %}"><div class="profile-user-name strokeme">@{{profile.user}}</div></a>
                        </div>-->

                        <div class="author-time pt-3 mb-3">

                            <a href="{% url 'profile' profile.pk %}" class="text-danger">
                            <!-- <img src="{{post.author.profile.picture.url}}" class="dp-mini"> -->
                                @{{profile.user}}
                            </a>

                            - {{profile.name}}
                            
                            <span class="create-time">{{post.created_on}}</span>
                        </div>

                    {% endif %}
                </div>
            </div>

            <div>
                <div class="text-center">
                    {% if profile.bio %}
                        <p class="bio-style">" {{ profile.bio }} "</p>
                    {% else %}
                        <p class="bio-style">" NO BIO PROVIDED !!!!!!!!!"</p>
                    {% endif %}
                </div>
            </div>

            <div class="p-2 text-end newborder">                  
                {% if request.user == profile.user %}
                    <div></div>
                {% else %}
                    {% if following %}
                        <form method="POST" action="{% url 'unfollow' profile.pk %}">
                            {% csrf_token %}
                            <button class="button-36 px-2" type="submit">Following</button>
                        </form>
                    {% else %}
                        <form method="POST" action="{% url 'follow' profile.pk %}">
                            {% csrf_token %} 
                            <button class="button-36 px-2" type="submit">Follow</button>
                        </form>
                    {% endif %}
                {% endif %}

                {% if request.user == profile.user %}
                    <a class="button-42 px-2" href="{% url 'profile_edit' user.pk %}" type="button">Edit Profile!</a>                
                {% endif %}

                <div class="text-center mydiv rounded"><a href="{% url 'followers' profile.pk %}">{{num_followers}} Followers</a></div>
            </div>                         
        </div>
    </div>
        
        <h2 class="text-center">POSTS</h2>
        
        <div class="list-wrapper">
            {% for post in posts %}
            <div class="row card shadow mb-5 pop-up">
                <div class="col-md-8 col-sm-12 mb-3position-relative">
                    <p><strong>{{post.author}}</strong> <i>{{post.created_on}}</i> </p>
                    <p>{{ post.body }}</p>
                    <a class="stretched-link" href="{% url 'post_detail' pk=post.pk %}"></a>
                </div>
            </div>            
            {% empty %}
            <div class="row justify-content-center mt-4">
                <div class="col-md-8 col-sm-12 mb-3 border-bottom position-relative">
                    <h5>No posts to show!</h5>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row mb-5 mt-3">
            <div class="col-md-3 col-sm-6">
                <a href="{% url 'post_list' %}" class="text-primary">Back to Feed!</a>
            </div>
        </div>
</div>
{% endblock %}